@page
@model ForgotPasswordModel
@using FirstResponseApp.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Forgot your password?";
    <link href="~/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <style>
        .bg-indigo-300 {
            background-color: #7986cb;
        }
        .color-white, .color-white:hover{
            color:#fff;
        }
        .btn-primary {
            color: #fff !important;
            background-color: #808a53;
            border-color: #909967;
        }
    </style>
}

<div class="card card-login mx-auto text-center bg-dark">
    <div class="card-header mx-auto bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Banner.jpg" style="height: 30px;"></a>
        <span class="logo_title mt-2">@ViewData["Title"] </span>
    </div>
    <div class="card-body">
        <form method="post" class="login-form">
            @*<div class="text-danger" style=" height:20px">
                    @if (ViewBag.Errore != null)
                    {
                        @ViewBag.Errore

                    }
                </div>*@
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input asp-for="Input.Email" class="form-control" placeholder="Enter Your Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                @*<input type="text" name="email" class="form-control" placeholder="Username">*@
            </div>
            <div class="row mb-3">

                <div class="col-10" style=" height:20px">
                    <div id="divCheckMessage" class="text-danger">
                        @if (ViewBag.Errore != null)
                        {
                            @ViewBag.Errore

                        }
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <a class="color-white btn bg-indigo-300" asp-action="Login" asp-controller="Account" asp-area="Identity"><i class="icon-arrow-left7"></i> Back</a>
                <button type="submit" class="btn btn-primary login_btn"><i class="icon-check"></i> Submit</button>

            </div>
        </form>
    </div>
</div>

@*<h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>*@



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
