@page
@model ResetPasswordModel
@using FirstResponseApp.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container" id="reset-form">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-form-sm">
                <div class="card-header">Change Password</div>

                <div class="card-body">
                    <form method="post">

                        <input type="hidden" asp-for="Input.Email" />
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-group row">
                            <label asp-for="Input.OldPassword" class="col-md-4 col-form-label text-md-right"></label>
                            <div class="col-md-6">
                                <input asp-for="Input.OldPassword" class="form-control" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.Password" class="col-md-4 col-form-label text-md-right"></label>
                            <div class="col-md-6">
                                <div class="pass-filed">
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span class="eye-btn"><i class="fas fa-eye"></i></span>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.ConfirmPassword" class="col-md-4 col-form-label text-md-right"></label>
                            <div class="col-md-6">
                                <div class="pass-filed">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span class="eye-btn"><i class="fas fa-eye"></i></span>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div id="divCheckMessage" class="text-danger" style=" height:20px">
            @if (ViewBag.Errore != null)
            {
                @ViewBag.Errore

            }
        </div>*@
                        <div class="row mb-3">
                            <div class="col-4"> &nbsp; </div>
                            <div class="col-6">
                                <div id="divCheckMessage" class="text-danger" style=" height:20px">
                                    @if (ViewBag.Errore != null)
                                    {
                                        @ViewBag.Errore

                                    }
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" id="btnResePassword" title="Save" class="btn btn-primary"> <i class="icon-check"></i> Save</button>
                                @*@Html.ActionLink("Cancel", "Dashboard", "TicketUser", new { @area = "Ticket", @class = "btn btn-danger" }, new { @class = "btn btn-danger" })*@
                                <a class="btn btn-danger" href='@Url.Action("Dashboard","TicketUser", new { @area = "Ticket"})'><i class="icon-cross2"></i> Cancel</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#btnResePassword").click(function () {
            $("#divCheckMessage").hide();
        });


        $('.eye-btn').mouseenter(function () {
            $('.pass-filed input').attr('type', 'text');
    });
    $('.eye-btn').mouseleave(function(){
        $('.pass-filed input').attr('type','password');
    });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
