
@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home - Notifications</span></h4>
            <a href="Dumy/index" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>

</div>
<!-- Page header -->
<div class="row col-12">
    <table id="TableVoiData" class="table table-bordered table-striped dataTable no-footer">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Mark All as Read</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Check out the top losers on the Sensex, Nifty, or any other index. At a</td>
                <td>15 minute ago</td>
            </tr>
            <tr>
                <td>Check out the top losers on the Sensex, Nifty, or any other index. At a</td>
                <td>7 hours ago</td>
            </tr>
            <tr>
                <td>Check out the top losers on the Sensex, Nifty, or any other index. At a</td>
                <td>27/02/2020</td>
            </tr>
        </tbody>
    </table>
</div>
