
@{
    ViewData["Title"] = "TicketDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page header -->
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Ticket Detail</span></h4>
                <a href="Dumy/index" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>

    </div>
<!-- Page header -->

    <div class="content">
        <div class="row col-12">
            <div class="col-2">
                <div class="form-group">
                    <h6>Ticket ID</h6>
                </div>
            </div>
            <div class="col-10">
                <div class="form-group">
                    <h6>123</h6>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-2">
                <div class="form-group">
                    <h6>Name</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    ticket_no
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <h6>Matter No.</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    1234
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-2">
                <div class="form-group">
                    <h6>Channel</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    Linfox First Response
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <h6>Waiting On</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    HWLE
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-2">
                <div class="form-group">
                    <h6>Added By</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    Barry
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <h6>Added On</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    27/02/2020
                </div>
            </div>
        </div>

       
    
        <div class="row col-12">
            <div class="col-2">
                <div class="form-group">
                    <h6>Documents</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <a href="Dumy/index" class="header-elements-toggle">Show all documents</a>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-3">
                <div class="form-group">
                    <h6>Linfox Notes</h6>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea id="w3mission" rows="4" cols="50" style="width:100%;">
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-3">
                <div class="form-group">
                    <h6>Medilaw Notes</h6>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea id="w3mission" rows="4" cols="50" style="width:100%;">
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-3">
                <div class="form-group">
                    <h6>HWLE Notes</h6>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea id="w3mission" rows="4" cols="50" style="width:100%;">
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-3">
                <div class="form-group">
                    <h6>Attach Document</h6>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                   File Uploader
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-9" ></div>
            <div class="col-3" >
                <button type="button" class="btn btn-primary" title="Cancel" data-dismiss="modal">Update</button>
            </div>
        </div>
    
    </div>