@{
    ViewData["Title"] = "E500";
}

<br />
<br />
<br />


<div class="col-sm-12 text-center">
    <img src="~/Images/Banner.jpg" />

    <div class="list-sfs-holder">
        <h2>403: Unauthorize error</h2></br />
      
    </div>
</div>

